.pagination {
  display: flex;
  gap: 10px;

  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #f9f9f9;
      transition: background-color 0.1s ease-in-out;
      &:hover {
        color: #000;
        background-color: darken(#f9f9f9, 5%);
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
