.content {
}

.block {
  position: relative;
  max-width: 400px;
}

.icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 20px 10px 30px;
  width: 100%;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.clean {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  opacity: 0.3;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
